/* example CSS */
.my-big-div {
    border: 1px solid black;
    min-height: 300px;
}

.my-big-div p {
    border: 1px dotted red;
}

.toggled-class {
    font-weight: bold;
    background-color: green;
}
